<style>

  form { 
    }
  body {
    background-color:rgb(31, 31, 31);
    text-align:center
    }
 
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  H1{
    color: rgb(255, 249, 241);
  }}

  title {
    color: #e2edff;
  }
  strong {
    color: #ebf3ff;
  }
  h3 {
    color: #ebf3ff;
    ;
  }

  title {
    color: #ebf3ff;
  }
  strong {
    color: #ebf3ff;
  }
 
  h3 {
    color: #ebf3ff;
  }
  

    
    
</style>